# Configuration file

general {
    # Determines whether or not the default tips should be possible. This includes tips added directly by other mods through their language files. [default: true]
    B:allowDefaultTips=false

    # A list of custom tips added by the user or modpack. [default: ]
    S:customTips <
        蒸汽阶段的多方块机器都在前期十分有效，尤其是研磨机！
        大型炼钢窑是你的钢铁生产机器的不二之选，尽管它看起来非常昂贵。
        硅与坎塔尔合金是所有存在热锭形式的金属中唯二可以在化学浸洗器中用水冷却的。
        采矿无人机坪可以帮你收集各式各样的矿石，代价是一些火箭燃料。
        如果你缺少一些宝石，那么为什么不试试用结晶坩埚制造它们的人造形式呢？
        珠海渔场可以帮你收集各种鱼类，还具有一定的捕捞功能。
        大型集气室可以跨维度收集不同维度的气体。
        压裂机可以使用压裂液补充消耗殆尽的虚拟流体。
        太空电梯具有三种模式，每一种都可以极大程度提升你的生产力。
     >

    # The color of the actual tip text. [default: FFFFFF]
    S:textColor=FFFFFF

    # The color of the top/title text for the tip. [default: FFFF55]
    S:titleColor=FFFF55

    # The amount of offset the tip text should have from the left of the screen. [range: 0 ~ 2147483647, default: 5]
    I:xOffset=5

    # The amount of offset the tip text should have from the bottom of the screen. [range: 0 ~ 2147483647, default: 40]
    I:yOffset=40
}


